<header class="site-header" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  {%- if page_paths -%}
    <nav class="site-nav">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        <a class="page-link" href="{{ my_page.url | relative_url }}">
          {%- if my_page.image -%}<img src="{{ my_page.image | relative_url }}" class="icon" alt="" height=100 />{%- endif -%}
          {%- if my_page.title -%}{{ my_page.title | escape }}{%- endif -%}
        </a>
      {%- endfor -%}
    </nav>
  {%- endif -%}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  <hr/>
</header>
