---
---
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-background: #999 !default;
$brand-color:      #FFEE70 !default;

$link-color: darken($brand-background, 10%);

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;
$spacing-unit:     30px !default;
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import 'assets/scss/base';

html, body {
// overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  text-align: center;
  background-color: $brand-color;
  border-left: $spacing-unit / 2 solid $brand-background;
  border-right: $spacing-unit / 2 solid $brand-color;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    align-items: baseline;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
      flex: 1;
      margin: 2px;
    }

    img {
      max-height: 100px;
      border-radius: 3px;
      max-width: 100px;
      flex: 1;
    }

    @include media-query(4 * 100px) {
      img {
        max-width: 75px;
        max-height: 75px;
      }

      a {
        font-size: smaller;
      }
    }
  }

  .site-title {
    font-family: Engagement, cursive;
    color: $text-color;
    font-size: 42px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: normal;
    margin-bottom: -4px;
    margin-top: 4px;
    align-self: center;
    background: white;
    width: 100vw;
  }
}

.site-footer {
  border: 0;
  padding: 0;
}


.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
